.reviews-section{
    padding-top: 70px;
}

.reviews-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

@media screen and (max-width: 688px){
    .reviews-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 689px) and (max-width: 991px){
    .reviews-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}