.dashboard-menu {
    list-style: none;
    cursor: pointer;
    padding: 8px 0;
  }

  .dashboard-menu:hover {
        background-color: #555;
        color: white;
  }

  .dashboard-container {
      background: #082032;
      color: rgb(243, 243, 230);
      height: 100vh;
      /* margin: 0; */
      padding: 70px 0 0 0;
  }

  .admin-title{
    background: rgb(194, 189, 189);
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 5px;
  }


@media screen and (max-width: 688px){
    .dashboard-container{
      margin-top: 80px;
      height: 100%;
    }
}

@media screen and (min-width: 689px) and (max-width: 991px){
    .services-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}