.dashboard-menu {
    list-style: none;
    cursor: pointer;
    padding: 8px 0;
  }

  .dashboard-menu:hover {
    /* color: blue; */
        background-color: #555;
        color: white;
        /* display:block */
  }

  

  .dashboard-container {
      background: #f1f1f1;
      color: #000;
      height: 100%;
      margin: 0;
      padding: 0;
  }